// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.home-page-band-name {
  color: #7b42f5;
  font-family: candara;
  font-size: xlarge;
  font-weight: bolder;
  text-align: center;
}

.home-page-band-description {
  color: #048716;
  font-family: candara;
  text-align: center;
}

.home-page-body {
	background-color: #494a49;
	height: 400px;
	margin: 0% 10% 5% 10%;
	padding: 2%;
}

.home-page-company-name {
  margin-top: 0;
}

#home-page-flex-container {
  display: flex;
  flex-direction: column;
}

#home-page-carousel-landscape, #home-page-carousel-portrait, .home-page-product {
	margin-bottom: 1vh;
}

#home-page-carousel-landscape, #home-page-carousel-portrait {
	margin-top: 1vh;
}

.home-page-carousel-inner-landscape {
  max-height: 240px;
  max-width: 360px;
}

.home-page-carousel-inner-portrait {
  max-height: 300px;
  max-width: 200px;
}

.home-page-carousel-item {
}

.menu-bar {
	background-color: #6d9dbd;
	height: 100px;
	margin: 0% 10%;
}

.menu-bar-text {
  text-align: center;
}
